DATABASE_URL="postgresql://postgres:123456@localhost:5432/kaj_lagbe_backend?schema=public"
PORT=4500
NODE_ENV=development
SALT_ROUND=5
ACCESS_SECRET=a9c1d3e4f6b7a8c9d1e2f3b4c5a6d7e8
ACCESS_EXPIRE=5d
REFRESH_SECRET=GMI947xoXdIez7p6q79Xj3HbDUaW67SjYoYBx1MbeP8X51m2CujPWMgei2uiLFJV
REFRESH_EXPIRE=35d
# //STORE FOR SSL
STORE_ID=kajla69835c29dabee
STORE_NAME=testkajlajqyz
STORE_PASSWORD=kajla69835c29dabee@ssl

# //url
SUCCESS_URL=http://localhost:3030/success
FAIL_URL=http://localhost:3030/fail
CANCEL_URL=http://localhost:3030/cancel
IPN_URL=http://localhost:3030/ipn
SSL_PAYMENT_URL=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
VALIDATE_API=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php

# //EMAIL (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=your_email@gmail.com